# dotenv config
.env
Capstone SRS DRAFT.docx
test_upload.txt
testing_aws.py
pdftestor.py
graphics/Homepage layout.png
graphics/Login Page.png
graphics/Menu.png
graphics/Reports.png
Ryan Kalis Report.pdf
data files/reports/Ryan Kalis Report.xls
graphics/Uploader.png
graphics/User Login Process.png
test.py
sample_report.pdf
.gitignore
data files/reports/Ryan Kalis Report.xls
graphics/CHAMPlogo.png
.gitignore
side_by_side_tables.pdf
data files/reports/Ryan Kalis Report.xls
