# dotenv config
.env
Capstone SRS DRAFT.docx
test_upload.txt
testing_aws.py
pdftestor.py
graphics/Homepage layout.png
graphics/Login Page.png
graphics/Menu.png
graphics/Reports.png
Ryan Kalis Report.pdf
data files/reports/Ryan Kalis Report.xls
graphics/Uploader.png
graphics/User Login Process.png
test.py
sample_report.pdf
.gitignore
data files/reports/Ryan Kalis Report.xls
graphics/CHAMPlogo.png
.gitignore
side_by_side_tables.pdf
data files/reports/Ryan Kalis Report.xls
test_report.pdf
data files/reports/Ryan Kalis Report.xls
plottester.py
.gitignore
test_report_DUPREE, ANGELA.pdf
test_report_ANTHONY, CIABURRI.pdf
search_test.py
test_report_JOOHNSON, DEAN.pdf
data files/reports/Ryan Kalis Report.xls
test_report_GORRA, MICHAEL.pdf
data files/VO2 Max/GORRA_MICHAEL_0_20140823_1014.xlsx
data files/VO2 Max/~$GORRA_MICHAEL_0_20140823_1014.xlsx
test_report_GORRA_MICHAEL_2014-08-23.pdf
test_report_GORRA_MICHAEL_2025-09-10.pdf
test_report_GORRA_MICHAEL_2025-04-25.pdf
data files/reports/test_report_PREVITI_ZANA_2014-08-23.pdf
test_report_PREVITI_ZANA_2014-08-23.pdf
