# dotenv config
.env
Capstone SRS DRAFT.docx
test_upload.txt
testing_aws.py
pdftestor.py
Ryan Kalis Report.pdf
data files/reports/Ryan Kalis Report.xls
test.py
sample_report.pdf
.gitignore
data files/reports/Ryan Kalis Report.xls
.gitignore
side_by_side_tables.pdf
data files/reports/Ryan Kalis Report.xls
test_report.pdf
data files/reports/Ryan Kalis Report.xls
plottester.py
.gitignore
test_report_DUPREE, ANGELA.pdf
test_report_ANTHONY, CIABURRI.pdf
search_test.py
test_report_JOOHNSON, DEAN.pdf
data files/reports/Ryan Kalis Report.xls
test_report_GORRA, MICHAEL.pdf
data files/VO2 Max/GORRA_MICHAEL_0_20140823_1014.xlsx
data files/VO2 Max/~$GORRA_MICHAEL_0_20140823_1014.xlsx
test_report_GORRA_MICHAEL_2014-08-23.pdf
test_report_GORRA_MICHAEL_2025-09-10.pdf
test_report_GORRA_MICHAEL_2025-04-25.pdf
data files/VO2 Max/GORRA_MICHAEL_0_20140823_1015.xlsx
data files/VO2 Max/GORRA_MICHAEL_0_20140823_1016.xlsx
data files/reports/test_report_PREVITI_ZANA_2014-08-23.pdf
test_report_ANTHONY_CIABURRI_2014-08-23.pdf
test_report_JOOHNSON_DEAN_2014-08-23.pdf
test_report_PREVITI_ZANA_2014-08-23.pdf
data files/RMR/Flores_RMR_21May2025.pdf
data files/RMR/Nutr_REYES_BRANDI_0_20250620_0955.XLS
data files/RMR/Nutr_REYES_DAMIAN_0_20250620_0907.XLS
test_report_GORRA_MICHAEL_-00-00.pdf
test_report_GORRA_MICHAEL_2025-02-13.pdf
test_report_KENKARE_ZADIE_-00-00.pdf
RMR_report_GORRA_MICHAEL_2025-07-28.pdf
example.pdf
VO2MAX_report_GORRA_MICHAEL_2024-07-25.pdf
VO2MAX_report_GORRA_MICHAEL_2025-02-13.pdf
RMR_report_DUNN_WINSTON_2025-08-06.pdf
RMR_report_REYES_DAMIAN_2025-06-20.pdf
